<main class="main_content inner_main">
  <section class="inner_page_heading terms-page-hero">
    <div class="page_name">
      <h1>About Siila</h1>
    </div>
    <div class="hero-inner-content">
      <div class="container">
        <div class="search_header">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" />
          <a href="javascript:void(0)" class="search_icon">
            <i class="fa fa-search" aria-hidden="true"></i>
          </a>
          <a href="javascript:void(0)" class="advance_search">
            Advance Search
          </a>
        </div>
        <div class="login-box">
          <input class="form-control mr-sm-2" type="f-name" placeholder="Username" aria-label="Search" />
          <input class="form-control mr-sm-2" type="password" placeholder="Password" aria-label="Search" />
          <a href="javascript:void(0)" class="btn btn-primary primary-theme">
            Login
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- cont-sec-rl -> content section right left -->
  <section class="cont-sec-rl theme-padding-50">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="inner_content">
            <h3 class="cont_title">Siila, a social force powered by our collected enlightment</h3>
          </div>
          <div class="details">
            <p>Stress convenience clinical Earth, but law enforcement is to sit in. But my microwave copyright, the author of my deductible, airline customers. Curabitur eget gravida justo, eu gravida nibh. The recipe layer</p>
            <p>Stress convenience clinical Earth, but law enforcement is to sit in. But my microwave copyright, the author of my deductible, airline customers</p>
            <p>Stress convenience clinical Earth, but law enforcement is to sit in. But my microwave copyright </p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="inner-content-visuals">
            <img class="img-fluid" src="../../assets/images/aboutus-illustrations.png">
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
