<main class="main_content inner_main">
  <section class="inner_page_heading terms-page-hero">
    <div class="page_name">
      <h1>Jobs</h1>
    </div>
    <div class="hero-inner-content">
      <div class="container">
        <div class="search_header">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" />
          <a href="javascript:void(0)" class="search_icon">
            <i class="fa fa-search" aria-hidden="true"></i>
          </a>
          <a href="javascript:void(0)" class="advance_search">
            Advance Search
          </a>
        </div>
        <div class="login-box">
          <input class="form-control mr-sm-2" type="f-name" placeholder="Username" aria-label="Search" />
          <input class="form-control mr-sm-2" type="password" placeholder="Password" aria-label="Search" />
          <a href="javascript:void(0)" class="btn btn-primary primary-theme">
            Login
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="all_jobs theme-padding-50">
    <div class="container">
      <div class="accordion theme_accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
              data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                IT Specialist
                <span>-  Geneva </span> -
                <span> Switzerland </span>
                <span class="accordion_icon">
                  <i class="fa fa-plus"></i>
                </span>
            </button>
          </div>
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              <p class="main_discribtion">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </p>
            <h5>
              Requrements
            </h5>
            <div class="job_req_list">
              <span>Availablity</span><span>Full Time</span>

            </div>
             <div class="job_req_list">
              <span>Education</span><span>Graduate in any Software Field</span>

            </div>
             <div class="job_req_list">
              <span>Age</span><span>25+</span>

            </div>
             <div class="job_req_list">
              <span>Experience</span><span>Intermidate (3 - 5 Years)</span>

            </div>
             <div class="job_req_list">
              <span>Languages</span><span>English, Spenish</span>

            </div>
            <a href="javascript:void(0)" class="btn btn-primary primary-theme mt-4" data-target="#aply_to_job" data-toggle="modal">Apply for this job</a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
              data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Marketing Director -
              <span>Geneva </span> -
              <span>Switzerland </span>
              <span class="accordion_icon">
                <i class="fa fa-plus"></i>
              </span>
            </button>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
              <p class="main_discribtion">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </p>
              <h5>
                Requrements
              </h5>
              <div class="job_req_list">
                <span>Availablity</span>
                <span>Full Time</span>
              </div>
              <div class="job_req_list">
                <span>Education</span>
                <span>Graduate in any Software Field</span>
              </div>
              <div class="job_req_list">
                <span>Age</span>
                <span>25+</span>
              </div>
              <div class="job_req_list">
                <span>Experience</span>
                <span>Intermidate (3 - 5 Years)</span>
              </div>
              <div class="job_req_list">
                <span>Languages</span>
                <span>English, Spenish</span>
              </div>
              <a href="javascript:void(0)" class="btn btn-primary primary-theme mt-4">
                Apply for this job
              </a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
              data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Web Master  -
                <span>Landon </span> -
                <span> UK </span>
                <span class="accordion_icon">
                  <i class="fa fa-plus"></i>
                </span>
            </button>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
              <p class="main_discribtion">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </p>
              <h5>
                Requrements
              </h5>
              <div class="job_req_list">
                <span>Availablity</span>
                <span>Full Time</span>
              </div>
              <div class="job_req_list">
                <span>Education</span>
                <span>Graduate in any Software Field</span>
              </div>
              <div class="job_req_list">
                <span>Age</span>
                <span>25+</span>
              </div>
              <div class="job_req_list">
                <span>Experience</span>
                <span>Intermidate (3 - 5 Years)</span>
              </div>
              <div class="job_req_list">
                <span>Languages</span>
                <span>English, Spenish</span>
              </div>
              <a href="javascript:void(0)" class="btn btn-primary primary-theme mt-4">
                Apply for this job
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
