<main class="main_content inner_main">
  <section class="inner_page_heading terms-page-hero">
    <div class="page_name">
      <h1>Terms & conditions</h1>
    </div>
    <div class="hero-inner-content">
      <div class="container">
        <div class="search_header">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" />
          <a href="javascript:void(0)" class="search_icon">
            <i class="fa fa-search" aria-hidden="true"></i>
          </a>
          <a href="javascript:void(0)" class="advance_search">
            Advance Search
          </a>
        </div>
        <div class="login-box">
          <input class="form-control mr-sm-2" type="f-name" placeholder="Username" aria-label="Search" />
          <input class="form-control mr-sm-2" type="password" placeholder="Password" aria-label="Search" />
          <a href="javascript:void(0)" class="btn btn-primary primary-theme">
            Login
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="terms_main theme-padding-50">
    <div class="container">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="accounts-tab" data-toggle="tab" href="#accounts" role="tab" aria-controls="accounts" aria-selected="true">
            Accounts
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="bussiness-tab" data-toggle="tab" href="#bussiness" role="tab" aria-controls="bussiness" aria-selected="false">
            Bussiness
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="privacy-tab" data-toggle="tab" href="#privacy" role="tab" aria-controls="privacy" aria-selected="false">
            Privacy
          </a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="accounts" role="tabpanel" aria-labelledby="accounts-tab">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
        <div class="tab-pane fade" id="bussiness" role="tabpanel" aria-labelledby="bussiness-tab">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
        <div class="tab-pane fade" id="privacy" role="tabpanel" aria-labelledby="privacy-tab">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
      </div>
      <div class="mt-3">
        <p class="">
          <input class="styled-checkbox" id="tc_accept" name="styled-checkbox-1" type="checkbox" value="value1">
          <label for="tc_accept">Publish profile (uncheck to save only)</label>
        </p>
        <a href="javascript:void(0)" class="btn btn-primary primary-theme" id="tc_accept_btn">
          Agree to Terms & Conditions
        </a>
      </div>
    </div>
  </section>
</main>
