<main class="main_content">
  <section class="hero_section">
    <div class="hero-inner-content">
      <div class="container">
        <div class="search_header">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" />
          <a href="javascript:void(0)" class="search_icon">
            <i class="fa fa-search" aria-hidden="true"></i>
          </a>
          <a href="javascript:void(0)" class="advance_search">
            Advance Search
          </a>
        </div>
        <div class="login-box">
          <input class="form-control mr-sm-2" type="f-name" placeholder="Username" aria-label="Search" />
          <input class="form-control mr-sm-2" type="password" placeholder="Password" aria-label="Search" />
          <a href="javascript:void(0)" class="btn btn-primary primary-theme">Login</a>
        </div>
      </div>
    </div>
  </section>

  <section class="social_force theme-padding-50">
    <div class="container">
      <div class="rotate_title text-center">
        <span class="highlight_texts">hi</span>
        <span class="highlight_texts"></span>
        <h1>
          <a href="" class="typewrite title_text" data-period="2000" data-type='[ "Siila, a social force powered by our collected enlightment", "The Meditation Ecosystem for seekers and professionals" ]'>
            <span class="wrap"></span>
          </a>
        </h1>
      </div>

      <div class="social_cards">
        <div class="row">
          <div class="col-lg-4">
            <div class="social_card text-center">
              <img class="img-fluid" src="../../assets/images/social-1.png" />
              <h5>Discover or share Wisdom</h5>
              <a href="javascript:void:(0)" class="btn btn-primary primary-theme">Video Tutorial</a>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="social_card text-center">
              <img class="img-fluid" src="../../assets/images/social-2.png" />
              <h5>Exchange with Guides & Peers</h5>
              <a href="javascript:void:(0)" class="btn btn-primary primary-theme">Video Tutorial</a>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="social_card text-center">
              <img class="img-fluid" src="../../assets/images/social-3.png" />
              <h5>Discover or create Events</h5>
              <a href="javascript:void:(0)" class="btn btn-primary primary-theme">Video Tutorial</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="resonance_box theme-padding-50 pt-0">
    <div class="title_text_wrapper">
      <h4 class="title_text title_text_with_arrow">Resonance Box</h4>
      <p>Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
    </div>
    <div class="container">
      <div class="resonance_slider owl-carousel owl-theme">
        <div class="item">
          <div class="resonance_slider_item">
            <img class="img-fluid" src="../../assets/images/resonance_slider-1.jpg" />
            <div class="resonance_text_overlay">
              <h4>Business English</h4>
            </div>
            <div class="resonance_text_overlay-letter">
              <h4>Business English</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
              </p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="resonance_slider_item">
            <img class="img-fluid" src="../../assets/images/resonance_slider-1.jpg" />
            <div class="resonance_text_overlay">
              <h4>Business English</h4>
            </div>
            <div class="resonance_text_overlay-letter">
              <h4>Business English</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
              </p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="resonance_slider_item">
            <img class="img-fluid" src="../../assets/images/resonance_slider-1.jpg" />
            <div class="resonance_text_overlay">
              <h4>Business English</h4>
            </div>
            <div class="resonance_text_overlay-letter">
              <h4>Business English</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
              </p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="resonance_slider_item">
            <img class="img-fluid" src="../../assets/images/resonance_slider-1.jpg" />
            <div class="resonance_text_overlay">
              <h4>Business English</h4>
            </div>
            <div class="resonance_text_overlay-letter">
              <h4>Business English</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
              </p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="resonance_slider_item">
            <img class="img-fluid" src="../../assets/images/resonance_slider-1.jpg" />
            <div class="resonance_text_overlay">
              <h4>Business English</h4>
            </div>
            <div class="resonance_text_overlay-letter">
              <h4>Business English</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="beta_testing_wrapper theme-padding-50 pt-0">
    <div class="title_text_wrapper">
      <h4 class="title_text title_text_with_arrow">Beta Testing Request</h4>
    </div>
    <div class="container mt-4">
      <div class="row">
        <div class="col-lg-4 col-md-8 col-sm-10 col-12 mx-auto">
          <form class="beta_testing_form">
            <div class="form-group">
              <input type="text" class="form-control form-control" placeholder="Email">
              <span class="input_icon">
                <i class="fa fa-envelope fa-lg"></i>
              </span>
            </div>
            <div class="form-group">
              <textarea class="form-control form-control" placeholder="Motivation"></textarea>
              <span class="input_icon">
                <i class="fa fa-handshake-o fa-lg"></i>
              </span>
            </div>
            <a href="javascript:void(0)" class="mt-4 btn btn-primary btn-block primary-theme">Request Status</a>
          </form>
        </div>
      </div>
    </div>
  </section>
</main>

